<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.store.mapper.InventoryMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.store.model.Inventory" >
    <constructor >
      <idArg column="pid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="storeid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="goodsid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="startime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="checktime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="starter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="checker" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    pid, storeid, goodsid, type, num, startime, checktime, starter, checker, state, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inventory
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inventory
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.store.model.Inventory" >
    insert into inventory (pid, storeid, goodsid, 
      type, num, startime, 
      checktime, starter, checker, 
      state, remark)
    values (#{pid,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{startime,jdbcType=TIMESTAMP}, 
      #{checktime,jdbcType=TIMESTAMP}, #{starter,jdbcType=VARCHAR}, #{checker,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.store.model.Inventory" >
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="startime != null" >
        startime,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
      <if test="starter != null" >
        starter,
      </if>
      <if test="checker != null" >
        checker,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="startime != null" >
        #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="starter != null" >
        #{starter,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        #{checker,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.store.model.Inventory" >
    update inventory
    <set >
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null" >
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="startime != null" >
        startime = #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        checktime = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="starter != null" >
        starter = #{starter,jdbcType=VARCHAR},
      </if>
      <if test="checker != null" >
        checker = #{checker,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.store.model.Inventory" >
    update inventory
    set storeid = #{storeid,jdbcType=INTEGER},
      goodsid = #{goodsid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      startime = #{startime,jdbcType=TIMESTAMP},
      checktime = #{checktime,jdbcType=TIMESTAMP},
      starter = #{starter,jdbcType=VARCHAR},
      checker = #{checker,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>