<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.sale.mapper.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.sale.model.Supplier" >
    <constructor >
      <idArg column="suid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="suname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="suaddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sucontact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sutel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="suemail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sutype" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    suid, suname, suaddress, sucontact, sutel, suemail, sutype
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where suid = #{suid,jdbcType=INTEGER}
  </select>
    <select id="querySupplier" resultType="com.zking.erp.sale.model.Supplier"
            parameterType="com.zking.erp.sale.model.Supplier">
      SELECT * FROM supplier WHERE SUTYPE='客户'
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where suid = #{suid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.sale.model.Supplier" >
    insert into supplier (suid, suname, suaddress, 
      sucontact, sutel, suemail, 
      sutype)
    values (#{suid,jdbcType=INTEGER}, #{suname,jdbcType=VARCHAR}, #{suaddress,jdbcType=VARCHAR}, 
      #{sucontact,jdbcType=VARCHAR}, #{sutel,jdbcType=VARCHAR}, #{suemail,jdbcType=VARCHAR}, 
      #{sutype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.sale.model.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="suid != null" >
        suid,
      </if>
      <if test="suname != null" >
        suname,
      </if>
      <if test="suaddress != null" >
        suaddress,
      </if>
      <if test="sucontact != null" >
        sucontact,
      </if>
      <if test="sutel != null" >
        sutel,
      </if>
      <if test="suemail != null" >
        suemail,
      </if>
      <if test="sutype != null" >
        sutype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="suid != null" >
        #{suid,jdbcType=INTEGER},
      </if>
      <if test="suname != null" >
        #{suname,jdbcType=VARCHAR},
      </if>
      <if test="suaddress != null" >
        #{suaddress,jdbcType=VARCHAR},
      </if>
      <if test="sucontact != null" >
        #{sucontact,jdbcType=VARCHAR},
      </if>
      <if test="sutel != null" >
        #{sutel,jdbcType=VARCHAR},
      </if>
      <if test="suemail != null" >
        #{suemail,jdbcType=VARCHAR},
      </if>
      <if test="sutype != null" >
        #{sutype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.sale.model.Supplier" >
    update supplier
    <set >
      <if test="suname != null" >
        suname = #{suname,jdbcType=VARCHAR},
      </if>
      <if test="suaddress != null" >
        suaddress = #{suaddress,jdbcType=VARCHAR},
      </if>
      <if test="sucontact != null" >
        sucontact = #{sucontact,jdbcType=VARCHAR},
      </if>
      <if test="sutel != null" >
        sutel = #{sutel,jdbcType=VARCHAR},
      </if>
      <if test="suemail != null" >
        suemail = #{suemail,jdbcType=VARCHAR},
      </if>
      <if test="sutype != null" >
        sutype = #{sutype,jdbcType=VARCHAR},
      </if>
    </set>
    where suid = #{suid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.sale.model.Supplier" >
    update supplier
    set suname = #{suname,jdbcType=VARCHAR},
      suaddress = #{suaddress,jdbcType=VARCHAR},
      sucontact = #{sucontact,jdbcType=VARCHAR},
      sutel = #{sutel,jdbcType=VARCHAR},
      suemail = #{suemail,jdbcType=VARCHAR},
      sutype = #{sutype,jdbcType=VARCHAR}
    where suid = #{suid,jdbcType=INTEGER}
  </update>
</mapper>